<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>ftor</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9963d8">  <td>23/05/22 13:49:02</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestUtils.defineBrowser(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:example._001CalcularPrecoPrazoEntregaCartaRegistradaTest@210366b4]">&gt;&gt;defineBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@489279267</td>   <td></td> </tr>
<tr bgcolor="baeedf">  <td>23/05/22 13:49:12</td>   <td>9814</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="_001CalcularPrecoPrazoEntregaCartaRegistradaTest.testar001()[pri:0, instance:example._001CalcularPrecoPrazoEntregaCartaRegistradaTest@210366b4]">testar001</td> 
  <td>main@489279267</td>   <td></td> </tr>
<tr bgcolor="9963d8">  <td>23/05/22 13:49:26</td>   <td>23757</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestUtils.tearDown()[pri:0, instance:example._001CalcularPrecoPrazoEntregaCartaRegistradaTest@210366b4]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@489279267</td>   <td></td> </tr>
<tr bgcolor="9963d8">  <td>23/05/22 13:49:29</td>   <td>26502</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestUtils.defineBrowser(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:example._002CalcularPrecoPrazoEntregaCartaSimplesTest@eec5a4a]">&gt;&gt;defineBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@489279267</td>   <td></td> </tr>
<tr bgcolor="9fad9d">  <td>23/05/22 13:49:38</td>   <td>35758</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="_002CalcularPrecoPrazoEntregaCartaSimplesTest.testar002()[pri:0, instance:example._002CalcularPrecoPrazoEntregaCartaSimplesTest@eec5a4a]">testar002</td> 
  <td>main@489279267</td>   <td></td> </tr>
<tr bgcolor="9963d8">  <td>23/05/22 13:49:47</td>   <td>44420</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestUtils.tearDown()[pri:0, instance:example._002CalcularPrecoPrazoEntregaCartaSimplesTest@eec5a4a]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@489279267</td>   <td></td> </tr>
<tr bgcolor="9963d8">  <td>23/05/22 13:49:49</td>   <td>47127</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestUtils.defineBrowser(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:example._003CalcularPrecoPrazoEntregaImpressoNormalTest@2b2948e2]">&gt;&gt;defineBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@489279267</td>   <td></td> </tr>
<tr bgcolor="9b92d7">  <td>23/05/22 13:49:59</td>   <td>56423</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="_003CalcularPrecoPrazoEntregaImpressoNormalTest.testar003()[pri:0, instance:example._003CalcularPrecoPrazoEntregaImpressoNormalTest@2b2948e2]">testar003</td> 
  <td>main@489279267</td>   <td></td> </tr>
<tr bgcolor="9963d8">  <td>23/05/22 13:50:06</td>   <td>64053</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestUtils.tearDown()[pri:0, instance:example._003CalcularPrecoPrazoEntregaImpressoNormalTest@2b2948e2]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@489279267</td>   <td></td> </tr>
<tr bgcolor="9963d8">  <td>23/05/22 13:50:09</td>   <td>66805</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestUtils.defineBrowser(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:example._004CalcularPrecoPrazoEntregaPACTest@6ddf90b0]">&gt;&gt;defineBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@489279267</td>   <td></td> </tr>
<tr bgcolor="a2a371">  <td>23/05/22 13:50:18</td>   <td>76100</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="_004CalcularPrecoPrazoEntregaPACTest.testar004()[pri:0, instance:example._004CalcularPrecoPrazoEntregaPACTest@6ddf90b0]">testar004</td> 
  <td>main@489279267</td>   <td></td> </tr>
<tr bgcolor="9963d8">  <td>23/05/22 13:50:27</td>   <td>84682</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestUtils.tearDown()[pri:0, instance:example._004CalcularPrecoPrazoEntregaPACTest@6ddf90b0]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@489279267</td>   <td></td> </tr>
<tr bgcolor="9963d8">  <td>23/05/22 13:50:30</td>   <td>87750</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestUtils.defineBrowser(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:example._005CalcularPrecoPrazoEntregaCartaViaInternetTest@57536d79]">&gt;&gt;defineBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@489279267</td>   <td></td> </tr>
<tr bgcolor="8e73b0">  <td>23/05/22 13:50:39</td>   <td>97004</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="_005CalcularPrecoPrazoEntregaCartaViaInternetTest.testar005()[pri:0, instance:example._005CalcularPrecoPrazoEntregaCartaViaInternetTest@57536d79]">testar005</td> 
  <td>main@489279267</td>   <td></td> </tr>
<tr bgcolor="9963d8">  <td>23/05/22 13:50:47</td>   <td>104864</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestUtils.tearDown()[pri:0, instance:example._005CalcularPrecoPrazoEntregaCartaViaInternetTest@57536d79]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@489279267</td>   <td></td> </tr>
</table>
